<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cornershop.countertest.presentation">

    <application android:theme="@style/Theme.CountersNormal">
        <activity
            android:name=".welcome.WelcomeActivity"
            android:theme="@style/Theme.CountersWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.MainActivity" />

        <activity
            android:name=".create.CreateCounterActivity"
            android:theme="@style/Theme.CountersCreate" />

        <activity
            android:name=".create.ExamplesActivity"
            android:parentActivityName=".create.CreateCounterActivity" />
    </application>
</manifest>